<html>
<head>
    <link rel = "stylesheet" type="text/css" href="style/marketReader.css">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/controller.js"></script>    

</head>
<body>
    <div ng-app="financialApp" ng-controller="finController" class="appBody">
            <div class="leftPanel">
            <div  class="container">
                    <table  class="table table-hover">
                        <tbody >
                            <tr ng-repeat="x in secClass"><td ng-click=fun(x) class ="{{ x == secTitle && 'active' || 'passive' }}"><span><a href="#">{{x}}</a></span></td></tr>
                        </tbody>    
                    </table>
            </div>
            </div>
            <div class="detailView">
                <div class="securityDashboard" id="equity">
                    <div class="securityTitle">
                        <center> <div id="secName"> <p id="tname">{{secTitle}}<p></div></center>
                    </div>
                    <div draggable class="widget"> Security historical performace chart
                        <div class="secChart"></div>

                    </div>
                </div>
                    
            </div>    
        </div>
</body>
</html>