<html>
<head>
    <link rel = "stylesheet" type="text/css" href="style/marketReader.css">
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <script src="scripts/jquery.min.js" type="application/javascript"></script>
    <script src="scripts/angular.min.js" type="application/javascript"></script>
    <script src="scripts/bootstrap.min.js" type="application/javascript"></script>
    <script src="scripts/controller.js" type="application/javascript"></script>    
</head>
<body>
    <div ng-app="financialApp" ng-controller="finController" class="appBody">
            <div class="leftPanel">
            <div  class="">
                    <table  class="" style="width:100%;">
                        <tbody>
                            <tr ng-repeat="x in secClass">
                                <td  class ="{{ x[0] == secTitle && 'active' || 'passive' }}">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="dropdown ">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{x[0][0]}}
                                        <span class="caret"> </span>
                                        </a>
                                        <ul class="dropdown-menu subSecurity" ng-repeat="y in x track by $index">  
                                            <ul ng-repeat="z in y">
                                                <a href="#">
                                                <li class="dropdown secName" ng-click="setSecName(z, x[0][0]); fun(x[0][0])">{{z}}</li>
                                                </a>
                                            </ul>
                                        </ul>
                                    </li>
                                </ul>
                                    
                                </td>
                            </tr>
                        </tbody>    
                    </table>
            </div>
            </div>
            <div class="detailView">
                <div class="securityDashboard" id="equity">

                <div class="panel panel-primary">
                    <div class="panel-heading secName">{{secTitle}}>> <strong>{{secName}}</strong> </div>
                <div class="panel-body">
                    <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> This alert box could indicate a successful or positive action.
                    </div>
                     
                    <div draggable class="widget"> Security historical performace chart
                        <div class="secChart"></div>
                        <a href="#" ng-click=stockData('AAPL')> Apple</a>
                        {{dataStr}}
                    </div>
                    Panel Content
                    
                </div>
                </div>
                   
                </div>
                    
            </div>    
        </div>
</body>
</html>