<!DOCTYPE html>
<meta charset="utf-8">
<head>
<link rel = "stylesheet" type="text/css" href="style/marketReader.css">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

</style>
<script src="scripts/d3.min.js"></script>
<link rel="style" href="style/graph.css">
    <link rel = "stylesheet" type="text/css" href="style/marketReader.css">
    <link rel="stylesheet" href="style/bootstrap.min.css">

    <script src="scripts/jquery.min.js" type="application/javascript"></script>
    <script src="scripts/angular.min.js" type="application/javascript"></script>
    <script src="scripts/bootstrap.min.js" type="application/javascript"></script>
    <script src="scripts/controller.js" type="application/javascript"></script>
</head>

<body>
   
    
    
    <div id ="appBody" ng-app="financialApp" ng-controller="finController" class="appBody" style="position:fixed">
            <div class="leftPanel">
            <div  class="">
                    <table  class="" style="width:100%;">
                        <tbody>
                            <tr ng-repeat="x in secClass">
                                <td  class ="{{ x[0] == secTitle && 'active' || 'passive' }}">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="dropdown ">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{x[0][0]}}
                                        <span class="caret"> </span>
                                        </a>
                                        <ul class="dropdown-menu subSecurity" ng-repeat="y in x track by $index">  
                                            <ul ng-repeat="z in y">
                                                <a href="#">
                                                <li class="dropdown secName" ng-click="setSecName(z, x[0][0]); fun(x[0][0])">{{z}}</li>
                                                </a>
                                            </ul>
                                        </ul>
                                    </li>
                                </ul>
                                    
                                </td>
                            </tr>
                        </tbody>    
                    </table>
            </div>
            </div>
            <div class="detailView">
                <div class="securityDashboard" id="equity">

                <div class="panel panel-primary">
                    <div class="panel-heading secName">{{secTitle}}>> <strong>{{secName}}</strong> </div>
                <div class="panel-body paneBody" >
                    <div class="container">
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Price trend</a></li>
                        <li><a data-toggle="tab" href="#menu1">Candle stick chart</a></li>
                        <li><a data-toggle="tab" href="#menu2">Predicted trend</a></li>
                        <li><a data-toggle="tab" href="#menu3">Compare</a></li>
                        <li><a data-toggle="tab" href="#menu4">Risk analysis</a></li>
                        <li><a data-toggle="tab" href="#menu5">Market volatility</a></li>
                        <li><a data-toggle="tab" href="#menu6">Data crunch advisory report</a></li>
                          
                      </ul>
                      <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                                        <div id="graph">
                                        </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">

                          
                        </div>
                        <div id="menu2" class="tab-pane fade">

                        </div>
                        <div id="menu3" class="tab-pane fade">

                        </div>
                      </div>
                    </div>

                    <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> This alert box could indicate a successful or positive action.
                    </div>
                     
                    <div draggable class="widget"> Security historical performace chart
                        <div class="secChart"></div>
                        <a href="#" ng-click=stockData('AAPL')> Apple</a>
                        {{dataStr}}
                    </div>
                    Panel Content
                    
                </div>
                </div>
                   
                </div>
                    
            </div>    
        </div>


<script>

var margin = {top: 20, right: 50, bottom: 30, left: 50},
    width = 700 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

var parseDate = d3.time.format("%d-%b-%y").parse,
    bisectDate = d3.bisector(function(d) { return d.date; }).left,
    formatValue = d3.format(",.2f"),
    formatCurrency = function(d) { return "$" + formatValue(d); };

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");

var line = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.close); });

var svg = d3.select("#graph").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.tsv("data.tsv", function(error, data) {
  if (error) throw error;

  data.forEach(function(d) {
    d.date = parseDate(d.date);
    d.close = +d.close;
  });

  data.sort(function(a, b) {
    return a.date - b.date;
  });

  x.domain([data[0].date, data[data.length - 1].date]);
  y.domain(d3.extent(data, function(d) { return d.close; }));

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Price ($)");

  svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

  var focus = svg.append("g")
      .attr("class", "focus")
      .style("display", "none");

  focus.append("circle")
      .attr("r", 4.5);

  focus.append("text")
      .attr("x", 9)
      .attr("dy", ".35em");

  svg.append("rect")
      .attr("class", "overlay")
      .attr("width", width)
      .attr("height", height)
      .on("mouseover", function() { focus.style("display", null); })
      .on("mouseout", function() { focus.style("display", "none"); })
      .on("mousemove", mousemove);

  function mousemove() {
    var x0 = x.invert(d3.mouse(this)[0]),
        i = bisectDate(data, x0, 1),
        d0 = data[i - 1],
        d1 = data[i],
        d = x0 - d0.date > d1.date - x0 ? d1 : d0;
    focus.attr("transform", "translate(" + x(d.date) + "," + y(d.close) + ")");
    focus.select("text").text(formatCurrency(d.close));
  }
});

</script>  
</body>
</html>